<button class="toggle" (click)="switchTheme()">
  {{ theme === "light-theme" ? "Switch to dark" : "Switch to light" }}
</button>


<div class="box">
  <h1 class="header">Header Text</h1>
  <p class="paragraph">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis at
    assumenda sequi quidem maiores qui neque delectus voluptates quas est, culpa
    laudantium ab. Vel fugit sunt, quasi asperiores temporibus non!
  </p>
</div>

<div class="box">
  <h1 class="header">Header Text</h1>
  <p class="paragraph">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis at
    assumenda sequi quidem maiores qui neque delectus voluptates quas est, culpa
    laudantium ab. Vel fugit sunt, quasi asperiores temporibus non!
  </p>
</div>

<div class="box">
  <h1 class="header">Header Text</h1>
  <p class="paragraph">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis at
    assumenda sequi quidem maiores qui neque delectus voluptates quas est, culpa
    laudantium ab. Vel fugit sunt, quasi asperiores temporibus non!
  </p>
</div>
